<!DOCTYPE html>
<html>
 
<head>
    <title>
        First Web Page
    </title>
</head>
 
<body class="container" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg.freepik.com%2Fpremium-vector%2Fvector-geometric-aesthetic-pattern_1057510-13.jpg&f=1&nofb=1&ipt=d050d9e2015bf4522a73cf695ef3018c2bda2bbfe75db3d7fec78e4eb0270187&ipo=images'); background-size: 30%;">
    <h1>Bright Side</h1>

    <div class = "meat">
    <img class = "center" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F025%2F212%2F226%2Flarge_2x%2Fcute-corgi-dog-cartoon-with-ai-generative-png.png&f=1&nofb=1&ipt=fe546e3fdf3f5b2d87547e5be1450c8290d591596eb458fac10086299635907c&ipo=images" alt="W3Schools.com" width = 200>
    <!-- Intro, Purpose, How to use, Disclaimer -->
        <p>
            
        
            <div class = "TOS">
                This program uses machine learning to capture and analyze facial expressions via your device’s front camera to identify emotions like happiness, sadness, and anger. By studying facial features in real-time, the system provides insights into human emotional states, exploring the boundaries of AI in emotion recognition.<br><br>

                User privacy is a top priority—no images are stored or shared. Data is discarded immediately after analysis, and users must give explicit consent before any image capture occurs.<br><br>
                
                This technology can enhance applications in areas such as customer service, mental health monitoring, and education, while ensuring ethical standards and respect for user privacy.<br>

            </div>
        </p> 
    </div>
    <br><br>
    <button class="Enable" >Enable</button>

    <video id="camera" autoplay playsinline></video>
    <canvas class = "TEST" id="myCanvas" width="200" height="200"> 
    </canvas>

    <img src = "/Users/shrabin/Documents/GitHub/HackUMass-2024/BrightSide/app/sprites/purepng.com-old-televisiontvtelecommunicationmonochromeblack-and-whittelevisionoldblack-and-whiteclipart-14215265360905exin-3597314328.png">
    <link rel="stylesheet" href="/static/style.css">
    <script type = "text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
    <!-- <script src="script.js"></script> -->

</body>
 
</html>
