<!DOCTYPE html>
<html>
 
<head>
    <title>
        MEME
    </title>
</head>
 
<body style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.tenor.com%2Fimages%2F333cf6c5b1aed66544e8b873cb2e4e2b%2Ftenor.gif&f=1&nofb=1&ipt=9b8e8f4a7d4cead61a2d78510628385ac5aceb27b8ec82568c7854f7641b2b33&ipo=images');">

    <h1 style="background-color:tomato; text-align:center">You seemed really cheerful</h1>

    <marquee behavior="scroll" direction="left">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.tenor.com%2Fimages%2F333cf6c5b1aed66544e8b873cb2e4e2b%2Ftenor.gif&f=1&nofb=1&ipt=9b8e8f4a7d4cead61a2d78510628385ac5aceb27b8ec82568c7854f7641b2b33&ipo=images" alt="W3Schools.com">
    </marquee>

    <marquee behavior="scroll" direction="right">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.tenor.com%2Fimages%2F333cf6c5b1aed66544e8b873cb2e4e2b%2Ftenor.gif&f=1&nofb=1&ipt=9b8e8f4a7d4cead61a2d78510628385ac5aceb27b8ec82568c7854f7641b2b33&ipo=images" alt="W3Schools.com">
    </marquee>

    <marquee   behavior="slide" direction="right" scrollamount="6" width = 50%>
        <!-- <button class="Return" ><a href="index.html">Return</a></button> -->
        <button class="Return" >Return</button>
        <script>
            var button = document.querySelector(".Return");

            button.addEventListener("click", returnHome);

            function returnHome(){
                fetch("/switch_page_to_home")
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url; // Perform the redirect
                    } else {
                        // Handle the case where the route didn't redirect
                        console.log('No redirect occurred');
                    }
                })
            }
        </script>
    </marquee>






    <!-- <script src="script.js"></script> -->

</body>
 
</html>
