<!DOCTYPE html>
<html>
 
<head>
    <title>
        First Web Page
    </title>
</head>
 
<body>
    <h1>This is a Heading</h1>
    <p>This is a paragraph.</p> 
    <marquee behavior="slide" direction="left">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.tenor.com%2Fimages%2F333cf6c5b1aed66544e8b873cb2e4e2b%2Ftenor.gif&f=1&nofb=1&ipt=9b8e8f4a7d4cead61a2d78510628385ac5aceb27b8ec82568c7854f7641b2b33&ipo=images" alt="W3Schools.com">
    </marquee>

    <marquee behavior="scroll" direction="right">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.tenor.com%2Fimages%2F333cf6c5b1aed66544e8b873cb2e4e2b%2Ftenor.gif&f=1&nofb=1&ipt=9b8e8f4a7d4cead61a2d78510628385ac5aceb27b8ec82568c7854f7641b2b33&ipo=images" alt="W3Schools.com">
    </marquee>





    <!-- <script src="script.js"></script> -->

</body>
 
</html>
