/* Basic body styling */
body {
    min-width: 650px; /* Set your desired minimum width */
    min-height: 600px; /* Set your desired minimum height */
    overflow: auto; /* Allow scrolling if window is smaller than min size */

    background-color: lightblue;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Container for central layout */

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.meat {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

/* Header styling */
h1 {

    top: 0;

    color: white;
    text-align: center;
    font-size: 3.5vw;
    /* position: inherit; */

}

/* Centered image with padding */
.image-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}


/* Button styling with hover effect */
button.Enable {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button.Enable:hover {
    background-color: #45a049;
}

/* TOS (Terms of Service) text box */
.TOS {
    clear: both;
    font-size: 1vw;
    color: navy;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    line-height: 1.6;
}

/* Video and Canvas container styling */
.video-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
}
#camera, #myCanvas {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    height: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

  

  .center {

    top: 0;

    align-self: center;
    margin: 0;
    width: 30%;
    height: 30%;
    padding: 10px;
  }

